
@font-face {
  font-family: 'Sukar-black';
  src: url('Sukar-black.eot?#iefix') format('embedded-opentype'),  url('Sukar-black.woff') format('woff'), url('Sukar-black.ttf')  format('truetype'), url('Sukar-black.svg#Sukar-black') format('svg');
  font-weight: normal;
  font-style: normal;
}
